body {			
	background: url("../../images/mike-kenneally-46284-unsplash.jpg") no-repeat center center fixed;  	
	font: 14px sans-serif; 	
	color: white;	
	text-align: center;	
	background-size:cover;	
	padding: 16px;
}

.logo {
	position: absolute;
	left: 47%;
	z-index: 3;
	top: 0;  
}

.logo img {
	height: 90px;
	width: 90px;	
}

ul {
	opacity: 0.5;	
	list-style-type: none;	
	margin: 0;	
	padding: 0;	
	overflow: hidden;
	background-color: #2c0707;	
}

li {
	float: left;	
}

li a {
	display: block;	
	color: white;	
	text-align: center;	
	padding: 14px 16px;	
	text-decoration: none;	
}

li a:hover {
	background-color: #111;	
}

* {
	box-sizing: border-box;	
}

.col-25 {
	-ms-flex: 25%; /* IE10 */	
	flex: 25%;	
	width: 50%;	
	border: 1px solid white;	
}

.col-25 {
	padding: 0 16px;	
}

.container {
	background-color: white;	
	padding: 5px 20px 15px 20px;	
	border: 1px solid lightgrey;	
	border-radius: 10px;	
	color: black;	
}

a {
	color: #2196F3;	
}

hr {
	border: 1px solid lightgrey;	
}

span.price {
	float: right;	
	color: grey;	
}

.button {
	background-color: grey;	
	border: none;	
	border-radius: 15px;	
	color: white;	
	padding: 16px 32px;	
	text-align: center;	
	font-size: 16px;	
	margin: 4px 2px;	
	opacity: 0.5;	
	transition: 0.3s;	
	display: inline-block;	
	text-decoration: none;	
	cursor: pointer;	
}

.button:hover {opacity: 1}

.ordertbl {	
	width: 100%;	
	background-color: white;	
	border-collapse: collapse;	
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th, td {
	padding: 8px;  
	text-align: left;
}

td {
	border-top:  1px solid #E1E8EE;
}	