@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);


 body {
	width: 100%;
	height: 100%;
	padding: 16px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: url("../../images/coffee-1.jpg") no-repeat center center fixed;   
	background-size: cover;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.logo {
	position: absolute;
	top: 0;
	left: 46%;
	z-index: 3;
}

.logo img {
	height: 90px;
	width: 90px;	
}

ul {
	opacity: 0.7;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

* {
	box-sizing: border-box;
}

.col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	width: 50%;
	border: 1px solid white;
}

.col-25 {
	padding: 0 16px;
}
			
.container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

a {
	color: #2196F3;
}

hr {
	border: 1px solid lightgrey;
}

span.price {
	float: right;
	color: grey;
}
	
.shopping-cart {
	width: 650px;
	height: 1325px;
	margin: 80px auto;
	background: #FFFFFF;
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.title {
	height: 60px; 
	border-bottom: 1px solid #E1E8EE;
	padding: 20px 30px;
	color: #5E6977;
	font-size: 18px;
	font-weight: 400;
}

.item {
	padding: 20px 30px;
	height: 140px;
	display: flex;
}

.item:nth-child(2n + 0) {
	border-top:  1px solid #E1E8EE;
	border-bottom:  1px solid #E1E8EE;
}

/* Product Image */
.image {
	margin-right: 50px;
	width: 120px;
	height: 80px;
}

/* Product Description */
.description {
	padding-top: 10px;
	margin-right: 60px;
	width: 115px;
}

.description span {
	display: block;
	font-size: 14px;
	color: #43484D;
	font-weight: 400;
}

.description span:first-child {
	margin-bottom: 5px;
}

.description span:last-child {
	font-weight: 300;
	margin-top: 8px;
	color: #86939E;
}

/* Product Quantity */
.quantity {
	padding-top: 20px;  
	margin-right: 60px;
}

.quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
}

button[class*=btn] {
	width: 30px;
	height: 30px;
	background-color: #E1E8EE;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

.minus-btn img {  
	margin-bottom: 3px;
}

.plus-btn img {
	margin-top: 2px;
}

button:focus, input:focus {
	outline:0;
}

/* Total Price */
.total-price {
	width: 83px;
	padding-top: 27px;
	text-align: center;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
}

.but_submit {
	display: inline-block;
	padding: 15px 25px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #333;
	border: 2px solid white;
	border-radius: 15px;
	opacity: 0.85;
}

.but_submit:hover {opacity: 1}	


/* Responsive */
@media (max-width: 800px) {

	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
	.shopping-cart {
    	width: 250px;
    	height: auto;
    	overflow: hidden;
  	}
  	.item {
    	height: auto;
    	flex-wrap: wrap;
    	justify-content: center;
		padding: 20px 40px;
  	}
	.image img {
		width: 50%;
  	}
  	.image, .quantity, .description {
    	width: 100%;
    	text-align: center;
    	margin: 6px 0;
  	}
  	.buttons {
    	margin-right: 20px;
  	}
	html, body{ 
		height: 110%;
		background-position: left center;
	}
	.logo {
		left: 38%;
	}
	.logo img {
		margin-top: 4px;
		height: 80px;
		width: 80px;	
	}
}
